:root {
	--very-dark-blue-main-bg: hsl(217, 54%, 11%);
	--very-dark-blue-card-bg: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
	--soft-blue: #8bacd9;
	--cyan: #00fff8;
    --transparent-cyan: rgba(0, 255, 248, 0.5);
	--gray: #979797;
	font-family: 'Outfit';
}

body {
	background-color: var(--very-dark-blue-main-bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.card {
	width: 350px;
	height: 596px;
	background-color: var(--very-dark-blue-card-bg);
	border-radius: 15px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.card .nft-container {
	width: 302px;
	height: 302px;
	margin-bottom: 8px;
    position: relative;
}

.card .nft-container img {
	width: 302px;
	aspect-ratio: 1/1;
	border-radius: 8px;
}

.card .nft-container .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .nft-container .view-icon {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 127px;
    left: 127px;
    display: none;
    pointer-events: none;
}

.card .nft-container .shadow:hover {
    box-shadow: inset 302px 302px var(--transparent-cyan);
    cursor: pointer;
}

.card .nft-container .shadow:hover + .view-icon {
    display: block;
}

.card .nft-title-container {
	align-self: flex-start;
	color: var(--white);
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
}

.card .nft-title-container h2 {
	margin: 0;
    font-size: 22px;
}

.card .nft-title-container h2:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card .nft-description {
	color: var(--soft-blue);
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	margin-bottom: 8px;
}

.card .nft-description p {
	margin: 0;
}

.card .nft-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8px;
}

.card .nft-info .price {
	display: flex;
	gap: 8px;
}

.card .nft-info .price p {
	margin: 0;
	color: var(--cyan);
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.card .nft-info .timer {
	display: flex;
	gap: 8px;
}

.card .nft-info .timer p {
	margin: 0;
	color: var(--soft-blue);
	font-weight: 400;
	font-size: 16px;
}

hr {
	width: 100%;
	margin: 0;
	height: 1px;
	border-color: var(--gray);
}

.author-info {
	align-self: flex-start;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.author-info img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 1px solid var(--white);
}

.author-info p {
	color: var(--soft-blue);
	font-weight: 300;
	margin: 0;
}

.card .author-info p a {
	color: var(--white);
	font-weight: 300;
	text-decoration: none;
}

.card .author-info p a:hover {
    color: var(--cyan);
    cursor: pointer;
}

* {
	box-sizing: border-box;
}

@media screen and (max-width: 400px) {
	.card {
		width: 327px;
		height: 543px;
		gap: 12px;
	}

	.card .nft-container {
		margin-bottom: 12px;
		width: 278px;
		height: 278px;
	}

	.card .nft-container img {
		width: 278px;
		height: 278px;
	}

    .card .nft-container .view-icon {
        top: 115px;
        left: 115px;
    }

	.card .nft-description {
		margin-bottom: 4px;
	}

	.card .nft-info {
		margin-bottom: 4px;
	}

	hr {
		margin-bottom: 4px;
	}
}
